*{
    /* background-color: aqua; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* h1{
    color: violet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: line-through;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: 20px;
} */    

h2{
    color: #e41ed3;
    padding: 10px 0 10px 15px;
}

/* p{
    color: green;
    background-image: url(./Assets/images\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.One > h1{
    color: blue;
} 

#Two > h2{
    color: hotpink;
}

.Two1 > h1,
.Two1 > h2,
.Two1 > h3,
.Two1 > h4,
.Two1 > h5,
.Two1 > h6,
.Two1 > p{
    color: lightgreen;
}

/* .Two1 > h1,h2,h3,h4,h5,h6,p{
    color: lightgreen;
} */

.Container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 50px;
    padding-top: 70px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 10px solid green;
    border-bottom: 20px solid blue; */
    border: 20px solid black;
    border-radius: 50px;
    /* margin-left: 100px;
    margin-top: 150px; */
    /* margin: 100px 120px 140px 160px; */
}

.bluebox{
    width: 300px;
    height: 300px;
    background-color: blue;
    position: sticky;
    top:0;
    margin-top: 100px;
}

.yellowbox{
    width: 100px;
    height: 100px;
    background-color: yellow;
    /* position: relative;
    left: 300px;
    top: 200px; */
    /* position: fixed;
    top: 50px; */
}

.display{
    display: none;
}

h2{
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 400px;
}

.box1, .box6{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 3;
}

.box2, .box7{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 3; */
    order: 1;
}

.box3, .box8{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 2;
}

.box4, .box9{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box5, .box10{
    width: 200px;
    height: 100px;
    background-color: hotpink;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 2px solid black; */
    align-items: start;
    /* gap: 60px; */
    /* flex-wrap: wrap;
    align-content: space-around; */
}

.para{
    background-color: blue;
    color: white;
    padding: 20px;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(3,300px);
}

.item{
    background-color: green;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.items1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.items2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #EBABAC;
    font-weight: 900;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "z z z z"
    "sb1 m m sb2"
    "q q q q";
}

.header{
    grid-area: z;
}

.sidebar1{
    grid-area: sb1;
}

.main{
    grid-area: m;
}

.sidebar2{
    grid-area: sb2;
}

.footer{
    grid-area: q;
}

.square{
    width: 300px;
    height: 300px;
    background-color: blue;
    /* transition-duration: 5s; */
    transition-property: all;
    transition-timing-function: linear;
}

.square:hover{
    width: 600px;
    background-color: darkred;
    transform: translateY(200px);
}

.BOX{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes circle {
    25%{
        width: 200px;
        height: 200px;
        background-color: rgb(255, 255, 0);
        top: 10px;
        left: 10px;
    }

    50%{
        width: 300px;
        height: 300px;
        background-color: aqua;
        top: 15px;
        left: 15px;
    }

    75%{
        width: 400px;
        height: 400px;
        background-color: #e41ed3;
        top: 20px;
        left: 20px;
    }

    100%{
        width: 500px;
        height: 500px;
        background-color: chocolate;
        top: 25px;
        left: 25px;
    }
    
}

.btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.btn:hover{
    background-color: green;
    cursor: pointer;
}

input:focus{
    border: 2px solid blue;
    outline: none;
}

/* li:nth-child(odd){
    color: red;
    font-size: 50px;
    font-weight: 900;
}

li:nth-child(Even){
    color: green;
    font-size: 70px;
    font-weight: 100;
} */

/* li:first-child{
    color: aqua;
}

li:last-child{
    color: chartreuse;
} */

p::first-letter{
    font-size: 50px;
    color: blue;
}

p::first-line{
    font-size: 30px;
    color: #e41ed3;
}

p::before{
    content: "Praveen ";
}

p::after{
    content: " Krishnan";
}

#check:checked + label{
    color: red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #EBABAC;
    color: white;
}

h1{
    font-size: 25px;
    font-weight: bold;
}

nav > ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    color: #ff5356;
}

svg{
    width: 30px;
    height: 30px;
    fill: white;
    display: none;
}

@media screen and (max-width:500px) {
    nav{
        display: none;
    }

    svg{
        display: block;
    }
}