*{
    /* background-color: aqua; */
}

h1{
    color: violet;
}

h2{
    color: red;
}

p{
    color: green;
}

.One > h1{
    color: blue;
} 

#Two > h2{
    color: hotpink;
}

.Two1 > h1,
.Two1 > h2,
.Two1 > h3,
.Two1 > h4,
.Two1 > h5,
.Two1 > h6,
.Two1 > p{
    color: lightgreen;
}

/* .Two1 > h1,h2,h3,h4,h5,h6,p{
    color: lightgreen;
} */
